.frame_standard #content h1,
.frame_standard #content h2,
.frame_standard #content h3,
.frame_standard #content h4,
.frame_standard #content h5{
  clear: both;
}

.frame_standard #content p{
  clear: both;
}

.frame_standard h5{
  clear: both;
  margin: 0px;
}

.frame_standard form textarea{
  width: 200px;
  height: 120px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

.frame_standard #content dl dd table{
  border-collapse: collapse;
}

.frame_standard #content dl dd table td input{
  margin: 1px 3px 1px 0px;
}

tr.alt{
  background: #dedede;
}

.error_alert{
  color: red;
  padding: 5px 0px;
  text-align: center;
  clear: both;
  width: 100%;
}

.error_alert span{
  font-weight: bold;
}

.frame_standard hr{
  clear: both;
  width: 100%;
  margin: 20px 0px;
  padding: 1px 0px;
  background: #ccc;
  border: none;
}

.required{
  font-weight: bold;
  background: url(required.gif) no-repeat left top;
}

span.required{
  padding-left: 15px;
}

.frame_standard #content tr.required{
  font-weight: bold;
  background: url(required.gif) no-repeat left 5px;
}

* html .frame_standard #content tr.required td.cart_quantity,
* html .frame_standard #content tr.required td.cart_total,{
  background: white;
}

.frame_standard #content .links{
  clear: both;
  width: 100%;
  float: left;
  padding: 0px 0px 10px 0px;
}

.frame_standard #content .links ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.frame_standard #content .links ul li{
  float: left;
  padding: 0px 10px 0px 0px;
}

.frame_standard #content dl{
  clear: both;
  margin: 0px;
  padding: 3px 0px;
  display: block;
  width: 100%;
}

.frame_standard #content dt{
  float: left;
  text-align: left;
  width: 100px;
  margin: 0px;
  padding: 0px 0px 0px 15px;
  height: auto;
}

.frame_standard #content dd{
  margin: 0px;
  padding: 0px;
  height: auto;
  float: left;
}

.frame_standard #content dd ul{
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.frame_standard #content dl.checkbox dt{
  width: 25px;
}

.frame_standard #content dt select{
  width: 90px;
}

.frame_standard #content dd select{
  width: 146px;
  margin: 0px;
  padding: 0px;
}

#submit{
  clear:both;
  text-align: left;
  padding: 10px 0px 10px 33px;
}


/* ______________________________register____________________________________ */

#personal_info{
  width: 280px;
  float: left;
  padding: 10px 10px 10px 0px;
}

#standard_register #submit{
  float: left;
  width: 100%;
  text-align: center;
  margin: 0px;
}

#standard_register #submit button,
#standard_register #submit .formButton,
#standard_register #submit .formButtonLong{
  display: inline;
  clear: none;
  margin: 0px 5px;
}

#standard_register #email_subscriptions{
  float: left;
  width: 560px;
  padding: 10px 5px;
}

.frame_standard #content #standard_register #email_subscriptions dl{
  clear: both;
  margin: 0px;
}

.frame_standard #content #standard_register #email_subscriptions dl dt{
  font-weight: bold;
  width: 25%;
  height: auto;
  float: left;
}

.frame_standard #content #standard_register #email_subscriptions dl dd{
  float: left;
  line-height: 14px;
  width: 70%;
  padding: 4px 0px 0px;
}


/* ______________________________Login____________________________________ */
#standard_login,
#standard_register,
#standard_my{
  clear: both;
  padding: 5px 0px;
}

#login_form{
  padding-left: 100px;
}

#standard_login #login_form p{
  margin: 0px;
  padding: 0px 0px 0px 115px;
}

#standard_forgotPassword #submit,
#standard_login #submit{
  float: left;
  width: 100%;
  text-align: center;
  margin: 0px;
}

#standard_forgotPassword #submit button,
#standard_forgotPassword #submit .formButton,
#standard_forgotPassword #submit .formButtonLong{
  display: inline;
  clear: none;
  margin: 0px 5px;
}

.frame_standard #content #standard_changePassword #submit{
  float: left;
  width: 100%;
  text-align: center;
  margin: 0px;
}

.frame_standard #content #standard_changePassword #submit button,
.frame_standard #content #standard_changePassword #submit .formButton,
.frame_standard #content #standard_changePassword #submit .formButtonLong{
  display: inline;
  clear: none;
  margin: 0px 5px;
}


/* ______________________________My, Profile____________________________________ */

.frame_standard #content #standard_my{
  width: 100%;
  float: left;
  padding: 0px 0px 20px 0px;
}

#standard_my #my_contactInfo{
  float: left;
  width: 280px;
}

#standard_my #my_contactInfo dl dt{
  padding: 0px;
}

#standard_my #my_subscriptions{
  float: left;
  width: 560px;
}

.frame_standard #content #my_favorites dl dt{
  float: left;
  width: 180px;
  padding: 0px;
}

.frame_standard #content #standard_my dl dt{
  font-weight: bold;
  width: 200px;
  margin: 0px;
  padding-left: 0px;
}

.frame_standard #content #standard_my dl dd{
  clear: both;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.frame_standard #content #my_favorites dl dt{
  float: left;
  width: 180px;
}

.frame_standard #content #my_favorites dl dd{
  clear: none;
  float: left;
  width: 70px;
  text-align: right;
}

.frame_standard #content #my_subscriptions dl dt{
  width: 180px;
}

#my_recent_registrations table,
#my_incomplete_registrations table{
  border-collapse: collapse;
}

#my_recent_registrations table td,
#my_recent_registrations table th,
#my_incomplete_registrations table td,
#my_incomplete_registrations table th{
  padding: 4px 15px 4px 0px;
}

#standard_profile #email_subscriptions{
  float: left;
  width: 560px;
  padding: 10px 5px;
}

.frame_standard #content #standard_profile #email_subscriptions dl{
  clear: both;
  margin: 0px;
}

.frame_standard #content #standard_profile #email_subscriptions dl dt{
  font-weight: bold;
  width: 25%;
  height: auto;
  float: left;
}

.frame_standard #content #standard_profile #email_subscriptions dl dd{
  float: left;
  line-height: 14px;
  width: 70%;
  padding: 4px 0px 0px;
}

.frame_standard #content #standard_profile #email_subscriptions dl dd input{
  float: left;
  margin-bottom: 10px;
}

.frame_standard #content #standard_profile #submit{
  float: left;
  width: 100%;
  text-align: center;
  margin: 0px;
}

.frame_standard #content #standard_profile #submit button,
.frame_standard #content #standard_profile #submit .formButton,
.frame_standard #content #standard_profile #submit .formButtonLong{
  display: inline;
  clear: none;
  margin: 0px 5px;
}


/* _______________________Search Results_______________________________ */

.frame_standard #content #standard_searchResults dl{
  padding-left: 25px;
    width: 90%;
}

.frame_standard #content #standard_searchResults dl dt{
  float: none;
  width: 100%;
  padding: 0px;
}

.frame_standard #content #standard_searchResults dl dd{
  float: none;
  width: 100%;
  clear: both;
}

.frame_standard #content #standard_searchResults dl.search_audio{
  background: url(../soImages/interface/icon_audio.gif) no-repeat 0px 3px;
}

.frame_standard #content #standard_searchResults dl.search_video{
  background: url(../soImages/interface/icon_video.gif) no-repeat 0px 3px;
}

.frame_standard #content #standard_searchResults dl.search_webpage{
  background: url(../soImages/interface/icon_webpage.gif) no-repeat 0px 3px;
}

.frame_standard #content #standard_searchResults dl.search_article{
  background: url(../soImages/interface/icon_article.gif) no-repeat 0px 3px;
}

.frame_standard #content #standard_searchResults dl.search_event{
  background: url(../soImages/interface/icon_event.gif) no-repeat 0px 3px;
}

#searchAgain input{
  float: left;
  clear: none;
  margin: 0px 5px 0px 0px;
}

#searchAgain .formButton{
  float: left;
  padding: 0px;
  margin: 0px;
}


/* _______________________________Incomplete___________________________________ */

.frame_standard #content #standard_incomplete ul li{
  clear: both;
}

.frame_standard #content #incomplete_list ul li dl dt{
  float: none;
  width: 200px;
}

.frame_standard #content #incomplete_list ul li dl dd{
  clear: both;
  float: none;
  width: 200px;
  font-style: italic;
}

#incomplete_list{
  float: left;
  width: 270px;
  border-right: 1px solid #ccc;
}

#delete_all{
  float: left;
  width: 150px;
  margin-left: 20px;
}


/* ____________________________Cart______________________________________ */

#standard_cart #submit{
  text-align: right;
}

.frame_standard #content .event_header dl{
  float: left;
  padding: 0px;
  margin: 30px 0px 15px;
}

.frame_standard #content .event_header dl dt{
  float: left;
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  height: auto;
}

.frame_standard #content .event_header dl dd{
  margin: 0px;
  padding: 0px;
  display: block;
  float: left;
}
.frame_standard #content .event_header dl dd h2{
  margin: 0px;
  padding: 0px;
}

.frame_standard #content table.cartgrid{
  width: 100%;
  clear: both;
  border-collapse: collapse;
}

.frame_standard #content table tr{
  vertical-align: top;
}

.frame_standard #content table.cartgrid tr.product_total,
.frame_standard #content table.cartgrid tr.product_total td{
  background: #c3c3c3;
  font-weight: bold;
}

.frame_standard #content table.cartgrid td,
.frame_standard #content table.cartgrid th{
  text-align: right;
  border: 1px solid black;
  padding: 3px;
}

.frame_standard #content table.cartgrid tr{
  border-top: 1px solid #ccc;
}

.frame_standard #content table.cartgrid .cart_product{
  text-align: left;
  width: 50%;
}

.frame_standard #content table.cartgrid tr.required .cart_quantity,
.frame_standard #content table.cartgrid tr.required .cart_total{
  background: none;
}

.frame_standard #content .cart_product dl dt{
  font-weight: bold;
  width: 90%;
}

.frame_standard #content .cart_product dl dd{
  clear: both;
  float: none;
  font-weight: normal;
  padding-left: 15px;
}

.product_alert{
  color: #cc0000;
}

.cart_quantity{
  width: 20%;
}

#standard_cart table .cart_quantity dl dt{
  float: left;
  width: 50%;
  text-align: right;
}

#standard_cart table .cart_quantity dl dd{
  clear: none;
  float: right;
}

.cart_price{
  width: 15%;
  background: #ebebeb;
}

.cart_total{
  width: 15%;
}


/* _______________________________Payment___________________________________ */

.frame_standard #content select#card_expdate_month,
.frame_standard #content select#card_expdate_year{
  width: 60px;
}

#standard_payment #submit{
  float: left;
  width: 100%;
  text-align: center;
  margin: 0px;
}

#standard_payment #submit button,
#standard_payment #submit .formButton,
#standard_payment #submit .formButtonLong{
  display: inline;
  clear: none;
  margin: 0px 5px;
}

.frame_standard #content #standard_payment dl dt{
  width: 180px;
}

.frame_standard #content #standard_payment td.cart_quantity dl dt{
  width: 50%;
  text-align: right;
}

.frame_standard #content #standard_payment td.cart_quantity dl dd{
   width: 30%;
  text-align: right;
}


/* ______________________________group_contacts____________________________________ */

.frame_standard #content #standard_groupContacts dl dd,
.frame_standard #content #standard_groupContacts dl dt{
  float: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.frame_standard #content #standard_groupContacts dl dt{
  font-weight: bold;
}

.frame_standard #content #standard_groupContacts dl{
  margin: 0px;
  padding: 10px 0px;
}


/* _____________________________group_calendar_____________________________________ */

.frame_standard #content #standard_groupCalendar table{
  clear: both;
  border-collapse: collapse;
}

.frame_standard #content #standard_groupCalendar th,
.frame_standard #content #standard_groupCalendar td{
  text-align: left;
  padding: 4px 15px 4px 0px;
}

.frame_standard #content #standard_groupCalendar td.signup,
.frame_standard #content #standard_groupCalendar th.signup{
  text-align: center;
}


/* _____________________________404_____________________________________ */

#standard_404 p.error_alert{
  padding: 40px 0px;
  line-height: 30px;
}


/* _____________________________standard_questions_____________________________________ */


.frame_standard #content #standard_questions dl{
  clear: both;
  margin: 0px;
  padding: 3px 0px;
  display: block;
  width: 100%;
}

.frame_standard #content #standard_questions dt{
  float: left;
  text-align: left;
  width: 220px;
  margin: 0px;
  padding: 0px 0px 0px 15px;
  height: auto;
}

.frame_standard #content #standard_questions dd{
  margin: 0px;
  padding: 0px;
  height: auto;
  float: left;
}

.frame_standard #content #standard_questions dd input{
  width: 200px;
}

.frame_standard #content #standard_questions dd ul{
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.frame_standard #content #standard_questions dl.checkbox dt{
  width: 25px;
}

.frame_standard #content #standard_questions dt select{
  width: 90px;
}

.frame_standard #content #standard_questions dd select{
  width: auto;
  margin: 0px;
  padding: 0px;
}

.frame_standard #content #standard_questions #submit{
  float: left;
  width: 100%;
  text-align: center;
  margin: 0px;
}

.frame_standard #content #standard_questions #submit button,
.frame_standard #content #standard_questions #submit .formButton,
.frame_standard #content #standard_questions #submit .formButtonLong{
  display: inline;
  clear: none;
  margin: 0px 5px;
}
